<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Time Traveler</title>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <img id='logo' src="/logo.png" alt="Logo" class="logo">
        <div id='subtitle' class="subtitle">let music take you anywhere, anytime</div>
        <div class="button-container" id="buttonContainer">
            <a href="#" class="button" id="pickDestination">PICK DESTINATION</a>
            <a href="#" class="button" id="takeMeAnywhere">TAKE ME ANYWHERE</a>
        </div>
        <div id="loadingScreen" class="hidden">
            <img src="/loading.png" alt="Loading" class="loading-image">
        </div>
    </body>

    <script src="/start.js"></script>
</html>